* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

:root {
  font-size: 16px;
}

header .nav-div .active {
  color: rgb(181, 255, 220);
}

header {
  height: 110px;
  background-color: #15241d;
  width: 97%;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 20px;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

header .header-title {
  display: flex;
  align-items: center;
}

.header-title a svg {
  margin-left: 40px;
  animation: linear rotate 8s infinite reverse;
}

.header-title a svg path {
  fill: white;
}

@keyframes rotate {
  from {
    rotate: 0;
  }

  to {
    rotate: 360deg;
  }
}

header .header-title h2 a {
  color: white;
  text-decoration: none;
  margin-left: 12px;
  font-size: 2.2rem;
}

header .nav-div ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding-right: 20px;
  margin-bottom: 0;
}

header .nav-div a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
}

.nav-div a:hover {
  color: rgb(181, 255, 220);
}

header .nav-div ul .login {
  background-color: rgb(11, 19, 15);
  color: red;
  width: 80px;
  padding: 10px;
  border-radius: 10px;
}
header .nav-div ul .login a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

header .nav-div ul .login:hover {
  scale: 1.1;
  transition: 0.4s;
  color: white;
}

.checkbox {
  display: none;
}

.burger-label {
  display: none;
}

.mobile-nav {
  background-color: gray;
  display: none;
}

#burger-menu:checked ~ .mobile-nav {
  display: block;
}

/* main style */
.hero-section {
  background-color: rgb(255, 254, 243);
  width: 100%;
  height: auto;
}

.hero-section h1 {
  text-align: center;
  padding-top: 100px;
  font-size: 6.3rem;
  font-weight: 400;
  margin-bottom: 40px;
}

.hero-section p {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 70px;
}

.hero-section .mobile-div {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}

.phone-img {
  position: relative;
  width: 80%;
  max-width: 650px;
  height: auto;
  max-height: 900px;
}

.phone-img img {
width: 100%;

}


.hero-section .mobile-div .phone-img img {
  border-radius: 80px 80px 0 0;
  border: 15px solid black;
  border-bottom: none;
}

.mobile-div .download-div {
  display: flex;
  gap: 15px;
  position: absolute;
  top: 40px;
}

.mobile-div .bell-div {
  width: 28%;
  height: 20%;
  border-radius: 30px;
  background-color: rgb(255 245 195);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: 99;
  top: 20px;
  left: -140px;
}

.mobile-div .bell-div .bell-first-svg svg {
  width: 23px;
  height: 23px;
  margin-bottom: 15px;
}

.mobile-div .bell-div .bell-second-svg svg {
  width: 130px;
  height: 30px;
}

.mobile-div .bell-div .bell-second-svg svg g path {
  fill: blue;
}

.gray-div {
  background-color: rgb(215 215 215);
  border-radius: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  position: absolute;
  z-index: 99;
  top: 220px;
  left: -240px;
}

.gray-div .first-svg svg {
  width: 90%;
  height: 100%;
  max-height: 80px;
  fill: blue;
}

.gray-div .first-svg svg g path {
  fill: blue;
}

.gray-div .second-svg svg {
  width: 120px;
  height: 150px;
}


.pink-div {
  width: 180px;
  height: 180px;
  background-color: rgb(255 235 227);
  position: absolute;
  top: 190px;
  right: -140px;
  z-index: 99;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: end;

}

.pink-div h2 {
  color: rgb(27,92,221);
  font-size: 2.5rem;
  font-weight: 300;
}


.pink-div p {
  font-size: 0.9rem;
   color: rgb(27,92,221); 
   text-align: start;
   margin-bottom: 0;
}


.blue-div {
  width: 50%;
  height: 180px;
  background-color: rgb(27 92 221);
  z-index: 999;
  position: absolute;
  top: 390px;
  right: -200px;
  display: flex;
  justify-content: space-evenly;
  border-radius: 25px;
  align-items: center;

}


.blue-div .first-svg svg{
  width: 100%;
  height: 100px;
}

.blue-div .first-svg svg g path{
  fill: white;
}

.blue-div .second-svg svg{
  width: 100%;
  height: 100px;
}

.blue-div .second-svg svg g path{
 fill: #FFEBE3;
}




/* video sec */
.video-sec {
  background-color: rgb(27 92 221);
}

.video-sec .text-div {
  color: white;
  width: 100%;
  display: inline-block;
  display: flex;
  flex-direction: column;

}

.video-sec h1 {
  color: white;
  font-size: 1.3rem;
  width: 100%;
  padding-top: 110px;
  margin-bottom: 30px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.video-sec .text-div p {
  font-size: 5rem;
  width: 50%;
  margin: 0 auto;
  text-align: justify;
  margin-bottom: 70px;

}


.video-sec .video-div {
  position: relative;
}


.video-sec video {
  width: 100%;
  max-width: 950px;
  border: solid 15px black;
  border-radius: 0 90px 90px 0 ;
  border-left: none;
  margin-bottom: 140px;
  position: relative;

  
}

.video-sec .video-div .video-text {
  position: absolute;
  top: 70px;
  left: 800px;
  z-index: 99;
  text-align: right;
}

.video-sec .video-div .video-text .third-p {
  margin-bottom: 60px;
}

.video-sec .video-div p {
  font-size: 1.2rem;
  font-weight: 600;

}






/* footer */
footer {
  bottom: 0;
  position: relative;
  width: 97%;
  margin: 0 auto;
  margin-bottom: 20px;
}
footer .footer-df {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: auto;
}

footer .first-div {
  background-color: #15241d;
  width: 50%;
  height: 368px;
  border-radius: 20px;
  padding: 60px;
  display: flex;
  align-items: center;
  padding-bottom: 250px;
}

footer .first-div svg path {
  fill: white;
}

footer .first-div a {
  color: white;
  text-decoration: none;
  font-size: 3.125rem;
  margin-left: 25px;
}

footer .second-div {
  background-color: #15241d;
  width: 50%;
  border-radius: 20px;
  padding: 60px;
  padding-top: 120px;
  height: 368px;
}

footer .svg-div {
  display: flex;
}

footer .svg-div svg {
  width: 50px;
  margin-bottom: 20px;
}

footer .svg-div ul {
  display: flex;
  list-style: none;
  border-bottom: 1px solid white;
  width: 400px;
}

footer .number-span {
  display: block;
  width: 314px;
  color: white;
  font-size: 1.25rem;
  margin-top: 20px;
  line-height: 30px;
}

footer .footer-second-div a {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 1.25rem;
  width: 314px;
  line-height: 30px;
}

footer .adress-span {
  color: white;
  display: block;
  font-size: 1.25rem;
  width: 250px;
  line-height: 30px;
}

footer .third-div .footer-links {
  display: flex;
  flex-direction: column;
}

footer .third-div {
  background-color: #15241d;
  height: 159px;
  margin-top: 20px;
  border-radius: 20px;
  padding: 60px;
  display: flex;
  justify-content: space-between;
}

footer .third-div .footer-links a {
  color: white;
  text-decoration: none;
  font-size: 1.25rem;
}

footer .third-div .copyright-span {
  margin-top: 10px;
  color: white;
}

footer .third-div .copyright-span a {
  color: white;
}

@media (max-width: 900px) {
  .header-title svg {
    width: 37%;
  }

  header .header-title h2 {
    margin-bottom: 0;
  }

  header .header-title h2 a {
    font-size: 1.5rem;
    margin-bottom: 0;
  }
  header .nav-div ul {
    gap: 13px;
  }

  header .nav-div ul li a {
    font-size: 0.8rem;
  }

  /* #region burger menu for tablet */
  header nav {
    display: flex;
    justify-content: space-between;
  }

  header .nav-div ul {
    display: none;
  }

  .burger-label {
    width: 2.25rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 35%;
    right: 8%;
    z-index: 100;
    overflow: hidden;
  }
  .burger-label span {
    width: 90%;
    height: 3px;
    border-radius: 3px;
    background-color: white;
    transition: all 0.3s;
  }

  .mobile-nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    background-color: #15241d;
    border-radius: 15px;
    padding: 20px;
    position: absolute;
    top: 70%;
    right: 0;
    width: 100%;
    height: 250px;
  }

  .advantages-div p {
    font-size: 2.5rem;
    width: 330px;
  }

  .mobile-nav ul li {
    margin: 0 auto;
    padding: 7px;
  }

  .mobile-nav ul li a {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }

  .mobile-nav ul li a:hover {
    color: rgb(181, 255, 220);
    transition: 0.4s;
  }

  #burger-menu:checked ~ .burger-label .line-1 {
    transform: rotate(45deg) translate(10px, 10px);
    background-color: red;
  }

  #burger-menu:checked ~ .burger-label .line-2 {
    transform: translateX(-100%);
    opacity: 0;
  }

  #burger-menu:checked ~ .burger-label .line-3 {
    transform: rotate(-45deg) translate(10px, -10px);
    background-color: red;
  }

  /* footer */
  footer .footer-df {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }

  footer .first-div,
  footer .second-div {
    width: 100%;
    margin: 5px 0;
  }

  footer .first-div a {
    font-size: 2rem;
  }

  footer .third-div {
    flex-direction: column;
    align-items: center;
    height: 300px;
    justify-content: center;
    margin-top: 0;
  }

  footer .first-div {
    width: 100%;
  }
}

@media (max-width: 600px) {
  header {
    width: 100%;
    margin: 10px 0;
  }

  header nav {
    display: flex;
    justify-content: space-between;
  }

  header .nav-div ul {
    display: none;
  }

  .burger-label {
    width: 2.25rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: static;
    margin-right: 30px;
    top: 6%;
    right: 8%;
    z-index: 100;
    overflow: hidden;
  }

  #burger-menu:checked ~ .burger-label {
    position: fixed;
    margin-right: 2px;
  }

  .burger-label span {
    width: 90%;
    height: 3px;
    border-radius: 3px;
    background-color: white;
    transition: all 0.3s;
  }

  .mobile-nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    background-color: rgb(181, 255, 220);
    padding: 20px;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 99;
    border-radius: 0px;
  }

  .mobile-nav ul li {
    margin-top: 50px;
    margin: 10px auto;
    border-bottom: solid #15241d 0.1px;
    width: 200px;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
    padding: 20px 0;
  }

  .mobile-nav ul li a {
    color: #15241d;
    text-decoration: none;
    cursor: pointer;
  }

  .mobile-nav ul li a:hover {
    color: rgb(181, 255, 220);
    transition: 0.4s;
  }

  #burger-menu:checked ~ .burger-label .line-1 {
    transform: rotate(45deg) translate(10px, 10px);
    background-color: #15241d;
  }

  #burger-menu:checked ~ .burger-label .line-2 {
    transform: translateX(-100%);
    opacity: 0;
  }

  #burger-menu:checked ~ .burger-label .line-3 {
    transform: rotate(-45deg) translate(10px, -10px);
    background-color: #15241d;
  }

  /* footer */
  footer {
    width: 100%;
  }

  footer .first-div {
    width: 100%;
    height: 170px;
    margin: 5px 0;
    padding-bottom: 65px;
  }

  footer .footer-df {
    gap: 0;
  }

  footer .second-div {
    width: 100%;
    height: 350px;
    margin-top: 0;
    padding-top: 70px;
    padding: 50px;
  }

  footer .third-div {
    width: 100%;
    margin: 0;
    align-items: normal;
    gap: 40px;
  }
}
