* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  scroll-behavior: smooth;
}

body {
  background-color: rgb(255, 254, 243);
}

:root {
  font-size: 16px;
}

header .nav-div .active {
  color: rgb(181, 255, 220);
}

header {
  height: 110px;
  background-color: #15241d;
  width: 97%;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 20px;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

header .header-title {
  display: flex;
  align-items: center;
}

.header-title a svg {
  margin-left: 40px;
  animation: linear rotate 8s infinite reverse;
}

.header-title a svg path {
  fill: white;
}

@keyframes rotate {
  from {
    rotate: 0;
  }

  to {
    rotate: 360deg;
  }
}

header .header-title h2 a {
  color: white;
  text-decoration: none;
  margin-left: 12px;
  font-size: 2.2rem;
}

header .nav-div ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding-right: 20px;
  margin-bottom: 0;
}

header .nav-div a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
}

.nav-div a:hover {
  color: rgb(181, 255, 220);
}

header .nav-div ul .login {
  background-color: rgb(11, 19, 15);
  color: red;
  width: 80px;
  padding: 10px;
  border-radius: 10px;
}
header .nav-div ul .login a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

header .nav-div ul .login:hover {
  scale: 1.1;
  transition: 0.4s;
  color: white;
}

.checkbox {
  display: none;
}

.burger-label {
  display: none;
}

.mobile-nav {
  background-color: gray;
  display: none;
}

#burger-menu:checked ~ .mobile-nav {
  display: block;
}

/* main style */
.hero-section {
  background-color: rgb(255, 254, 243);
  width: 100%;
  height: auto;
}

.hero-section h1 {
  text-align: center;
  padding-top: 100px;
  font-size: 6.3rem;
  font-weight: 400;
  margin-bottom: 40px;
}

.hero-section p {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 70px;
}

.hero-section .mobile-div {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}

.phone-img {
  position: relative;
  width: 60%;
  max-width: 650px;
  height: auto;
  max-height: 900px;
}


.hero-section .mobile-div .phone-img img {
  border-radius: 80px 80px 0 0;
  border: 15px solid black;
  border-bottom: none;
  width: 100%;
  height: 100%;
}

.mobile-div .download-div {
  display: flex;
  gap: 15px;
  position: absolute;
  top: 40px;
}

.mobile-div .bell-div {
  width: 28%;
  height: 20%;
  border-radius: 30px;
  background-color: rgb(255 245 195);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: 99;
  top: 3%;
  left: -21%;
}

.mobile-div .bell-div .bell-first-svg svg {
  width: 23px;
  height: 23px;
  margin-bottom: 15px;
}

.mobile-div .bell-div .bell-second-svg svg {
  width: 130px;
  height: 30px;
}

.mobile-div .bell-div .bell-second-svg svg g path {
  fill: blue;
}

.gray-div {
  background-color: rgb(215 215 215);
  border-radius: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  position: absolute;
  z-index: 99;
  top: 26%;
  left: -35%;
}

.gray-div .first-svg svg {
  width: 90%;
  height: 100%;
  max-height: 80px;
  fill: blue;
}

.gray-div .first-svg svg g path {
  fill: blue;
}

.gray-div .second-svg svg {
  width: 120px;
  height: 150px;
}

.pink-div {
  width: 27%;
  max-height: 180px;
  height: 100%;
  background-color: rgb(255 235 227);
  position: absolute;
  top: 21%;
  right: -21%;
  z-index: 99;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: end;
}

.pink-div h2 {
  color: rgb(27, 92, 221);
  font-size: 2.5rem;
  font-weight: 300;
}

.pink-div p {
  font-size: 0.9rem;
  color: rgb(27, 92, 221);
  text-align: start;
  margin-bottom: 0;
}

.blue-div {
  width: 50%;
  height: 180px;
  background-color: rgb(27 92 221);
  z-index: 999;
  position: absolute;
  top: 44%;
  right: -32%;
  display: flex;
  justify-content: space-evenly;
  border-radius: 25px;
  align-items: center;
}

.blue-div .first-svg svg {
  width: 100%;
  height: 100px;
}

.blue-div .first-svg svg g path {
  fill: white;
}

.blue-div .second-svg svg {
  width: 100%;
  height: 100px;
}

.blue-div .second-svg svg g path {
  fill: #ffebe3;
}

/* video sec */
.video-sec {
  background-color: rgb(27 92 221);
}

.video-sec .text-div {
  color: white;
  width: 98%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  padding-right: 80px;
}

.video-sec h1 {
  color: white;
  width: 50%;
  font-size: 1.3rem;
  padding-top: 110px;
  margin-bottom: 30px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;

}

.video-sec .text-div p {
  font-size: 4vw;
  text-align: justify;
  margin-bottom: 70px;
  width: 50%;
}

.video-sec .video-div {
  position: relative;
}

.video-sec video {
  width: 100%;
  max-width: 950px;
  border: solid 15px black;
  border-radius: 0 90px 90px 0;
  border-left: none;
  margin-bottom: 140px;
  position: relative;

}

.video-sec .video-div .video-text {
  position: absolute;
  top: 70px;
  left: 800px;
  z-index: 99;
  text-align: right;
}

.video-sec .video-div .video-text .third-p {
  margin-bottom: 60px;
}

.video-sec .video-div p {
  font-size: 1.2rem;
  font-weight: 600;
}

/* explore section */
.explore-sec {
  background-color: rgb(1, 1, 1);
  color: white;
}

.explore-sec .hero-div {
  width: 100%;
  padding-left: 60px;
  border-bottom: 1px solid white;
  padding-bottom: 120px;
}

.explore-sec .hero-div h1 {
  color: white;
  padding-top: 140px;
  font-size: 5rem;
  width: 20%;
  min-width: 300px;
  margin-bottom: 130px;
  font-weight: 300;
}

.explore-sec .hero-div p {
  color: white;
  width: 23%;
  min-width: 480px;
  font-size: 1.4rem;
  margin-bottom: 50px;
}

.explore-sec .hero-div a {
  padding: 10px 40px;
  border-radius: 20px;
  cursor: pointer;
  background-color: white;
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  border: 1px solid white;
}

.explore-sec .hero-div a:hover {
  background-color: black;
  border: 1px solid white;
  color: white;
  transition: 0.3s;
}

.explore-sec .list-div .first-div {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
  padding: 10px 30px 10px 60px;
}

.explore-sec .list-div .first-div .middle-div {
  display: flex;
  align-items: center;
  gap: 30px;
}

.explore-sec .list-div .first-div .middle-div:hover {
  color: white;
  transition: 0.3s;
}

.explore-sec .list-div .first-div h2 {
  font-weight: 300;
  margin-right: 30px;
}

.explore-sec .list-div .first-div .middle-div h1 {
  font-size: 5rem;
  font-weight: 400;
  color: #b0b0b0;
}

.explore-sec .list-div .first-div .middle-div p {
  font-size: 1.3rem;
  color: #b0b0b0;
  width: 40%;
  margin-right: 35px;
}

.explore-sec .list-div .first-div img {
  width: 18%;
  min-width: 300px;
}

.explore-sec .list-div .second-div {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
  padding: 10px 30px 10px 60px;
}

.explore-sec .list-div .second-div .middle-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 850px;
}

.explore-sec .list-div .second-div h2 {
  font-weight: 300;
  margin-right: 30px;
}

.explore-sec .list-div .second-div .middle-div h1 {
  font-size: 5rem;
  font-weight: 400;
  color: #b0b0b0;
  width: 100%;
  max-width: 380px;
}

.explore-sec .list-div .second-div img {
  width: 18%;
  min-width: 300px;
}

.explore-sec .list-div .second-div .middle-div p {
  font-size: 1.3rem;
  color: #b0b0b0;
  width: 40%;
  margin-right: 55px;
}

.explore-sec .list-div .third-div {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
  padding: 10px 30px 10px 60px;
}

.explore-sec .list-div .third-div .middle-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 850px;
}

.explore-sec .list-div .third-div h2 {
  font-weight: 300;
  margin-right: 30px;
}

.explore-sec .list-div .third-div .middle-div h1 {
  font-size: 5rem;
  font-weight: 400;
  color: #b0b0b0;
  width: 100%;
  max-width: 380px;
}

.explore-sec .list-div .third-div img {
  width: 18%;
  min-width: 300px;
}

.explore-sec .list-div .third-div .middle-div p {
  font-size: 1.3rem;
  color: #b0b0b0;
  width: 40%;
  margin-right: 55px;
}

.explore-sec .list-div .fourth-div {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px 10px 60px;
}

.explore-sec .list-div .fourth-div .middle-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 850px;
}

.explore-sec .list-div .fourth-div h2 {
  font-weight: 300;
  margin-right: 30px;
}

.explore-sec .list-div .fourth-div .middle-div h1 {
  font-size: 5rem;
  font-weight: 400;
  color: #b0b0b0;
  width: 100%;
  max-width: 380px;
}

.explore-sec .list-div .fourth-div img {
  width: 18%;
  min-width: 300px;
}

.explore-sec .list-div .fourth-div .middle-div p {
  font-size: 1.3rem;
  color: #b0b0b0;
  width: 40%;
  margin-right: 55px;
}

/* transform-section */
.transform-sec {
  background: url(https://static.wixstatic.com/media/c837a6_55cfec64830e4472a40ba44abebd7bff~mv2.jpg/v1/fill/w_1495,h_1134,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/c837a6_55cfec64830e4472a40ba44abebd7bff~mv2.jpg);
  background-size: cover;
  width: 100%;
  height: 1234px;
  object-fit: cover;
  object-position: 50% 50%;
  background-attachment: fixed;
}

.transform-sec .third-sec-div {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.transform-sec .third-sec-div h1 {
  font-size: 5rem;
  font-weight: 400;
  width: 40%;

  margin-bottom: 250px;
  text-align: center;
}

.transform-sec .third-sec-div p {
  font-size: 1.4rem;
  width: 380px;
  text-align: center;
  margin-bottom: 50px;
}

.transform-sec .third-sec-div .download-links {
  display: flex;
  gap: 13px;
}

/* carousel section */
.carousel-sec {
  width: 100%;
  height: auto;
  background-color: rgb(255, 254, 243);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);
}

.carousel-sec h2 {
  padding-top: 180px;
  text-align: center;
  font-size: 5rem;
  margin-bottom: 50px;
}

.carousel-sec span {
  text-align: center;
  font-size: 1.3rem;
  margin: 0 auto;
  width: 27%;
  display: block;
  margin-bottom: 80px;
}

.carousel-inner {
  width: 35%;
  min-width: 670px;
  margin: 0 auto;
  margin-bottom: 300px;
}

.carousel-sec .first-page svg {
  width: 100px;
}

.carousel-sec .first-page {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  grid-template-rows: 200px 185px 185px;
  row-gap: 15px;
  column-gap: 15px;
}

.carousel-sec .first-page .box1 {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.carousel-sec .first-page .box1 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.carousel-sec .first-page .box2 {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  background-color: rgb(27 92 221);
  border-radius: 20px;
}

.carousel-sec .first-page .box3 {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  background-color: rgb(215 215 215);
  border-radius: 20px;
}

.carousel-sec .first-page .box3 svg {
  width: 55%;
  height: 55%;
}

.carousel-sec .first-page .box4 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: rgb(255 245 195);
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 20px;
  border-radius: 20px;
}

.carousel-sec .first-page .box4 h1 {
  color: rgb(27 92 221);
  margin-bottom: 0;
}

.carousel-sec .first-page .box4 p {
  margin-bottom: 0;
  color: rgb(27 92 221);
}

.carousel-sec .first-page .box5 {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  background-image: url(https://static.wixstatic.com/media/c837a6_318cbd000c8347ef87f06247290f80ea~mv2.jpg/v1/crop/x_957,y_0,w_2085,h_2109/fill/w_175,h_177,al_c,q_80,usm_0.66_1.00_0.01,enc_avif,quality_auto/GettyImages-1324299053.jpg);
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 20px;
  border-radius: 20px;
}

.carousel-sec .first-page .box5:hover {
  background-image: none;
  background-color: black;
  transition: 1s;
}

.carousel-sec .first-page .box5 h1 {
  color: white;
  margin-bottom: 0;
}

.carousel-sec .first-page .box5 p {
  margin-bottom: 0;
  color: white;
}

.carousel-sec .first-page .box6 {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  background-image: url(https://static.wixstatic.com/media/c837a6_0fda7184e06f493f9ffe2fac27801826~mv2.jpg/v1/crop/x_0,y_400,w_1600,h_1600/fill/w_175,h_175,al_c,q_80,usm_0.66_1.00_0.01,enc_avif,quality_auto/pexels-photo-7675410_edited.jpg);
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 20px;
  border-radius: 20px;
  color: white;
}

.carousel-sec .first-page .box6:hover {
  background-image: none;
  background-color: black;
  transition: 1s;
}

.carousel-sec .first-page .box6 h1 {
  color: white;
  margin-bottom: 0;
}

.carousel-sec .first-page .box6 p {
  margin-bottom: 0;
  color: white;
}

.carousel-sec .first-page .box7 {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  background-color: rgb(255 235 227);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 20px;
  border-radius: 20px;
  color: rgb(27 92 221);
}

.carousel-sec .first-page .box7 h1 {
  margin-bottom: 0;
}

.carousel-sec .first-page .box7 p {
  margin-bottom: 0;
}

.carousel-sec .second-page {
  display: grid;
  grid-template-columns: 0.9fr 1fr;
  grid-template-rows: 105px 295px 170px;
  row-gap: 15px;
  column-gap: 15px;
}

.carousel-sec .second-page .box1 {
  background-color: rgb(27 92 221);
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.carousel-sec .second-page .box1 h3 {
  margin-bottom: 0;
  font-size: 1.1rem;
}

.carousel-sec .second-page .box1 p {
  margin-bottom: 0;
  font-size: 1.5rem;
}

.carousel-sec .second-page .box2 {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
}

.carousel-sec .second-page .box2 video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center center;
  opacity: 1;
  border-radius: 20px;
}

.carousel-sec .second-page .box3 {
  background-image: url(https://static.wixstatic.com/media/c837a6_14ea7b47da794377a0e5932092712573~mv2.jpg/v1/fill/w_360,h_375,al_c,q_80,usm_0.66_1.00_0.01,enc_avif,quality_auto/GettyImages-1214617343.jpg);
  background-size: cover;
  width: 100%;
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  display: flex;
  justify-content: center;
  align-items: end;
  border-radius: 20px;
}

.carousel-sec .second-page .box3 h1 {
  color: black;
  background-color: rgb(255 235 227);
  margin-bottom: 40px;
  font-size: 1.1rem;
  padding: 5px 40px;
  border-radius: 20px;
}

.carousel-sec .second-page .box4 {
  background-color: black;
  color: white;
  padding: 20px;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  border-radius: 20px;
}

.carousel-sec .second-page .box4 h3 {
  margin-bottom: 0;
}

.carousel-sec .second-page .box4 svg {
  width: 92%;
  height: 90%;
}

.carousel-sec .third-page {
  display: grid;
  grid-template-columns: 1.3fr 0.5fr 0.5fr 0.5fr;
  grid-template-rows: 105px 200px 265px;
  row-gap: 15px;
  column-gap: 15px;
}

.carousel-sec .third-page svg {
  width: 20%;
}

.carousel-sec .third-page .box1 {
  background-image: url(https://static.wixstatic.com/media/c837a6_592cb8d2fb9d4a279442f4fe0a649a38~mv2.jpg/v1/crop/x_412,y_0,w_1424,h_1500/fill/w_300,h_316,al_c,q_80,usm_0.66_1.00_0.01,enc_avif,quality_auto/pexels-photo-3621954_edited.jpg);
  background-size: cover;
  width: 100%;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  padding: 25px;
  border-radius: 20px;
}

.carousel-sec .third-page .box1 h4 {
  color: white;
  width: 100px;
  font-size: 2.3rem;
}

.carousel-sec .third-page .box2 {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  background-color: rgb(255 235 227);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
}

.carousel-sec .third-page .box2 svg {
  width: 10%;
  height: 10%;
  margin-bottom: 20px;
}

.carousel-sec .third-page .box2 svg g path {
  fill: rgb(27 92 221);
}

.carousel-sec .third-page .box2 p {
  color: rgb(27 92 221);
  width: 40%;
  text-align: center;
}

.carousel-sec .third-page .box3 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.carousel-sec .third-page .box3 svg {
  width: 40%;
}

.carousel-sec .third-page .box4 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.carousel-sec .third-page .box4 svg {
  width: 35%;
}

.carousel-sec .third-page .box5 {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.carousel-sec .third-page .box5 svg {
  width: 55%;
}

.carousel-sec .third-page .box6 {
  grid-column: 2 / 5;
  grid-row: 2 / 4;
  border-radius: 20px;
}

.carousel-sec .third-page .box6 img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.carousel-sec .fourth-page {
  display: grid;
  grid-template-columns: 0.9fr 1.1fr;
  grid-template-rows: 295px 85px 190px;
  row-gap: 15px;
  column-gap: 15px;
}

.carousel-sec .fourth-page .box1 {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.carousel-sec .fourth-page .box1 .fourth-page-anna {
  padding-top: 50px;
display: flex;
flex-direction: column;
align-items: center;
}



.carousel-sec .fourth-page .box1 .fourth-page-anna img {
  width: 100%;
  border-radius: 50%;
  margin-bottom: 15px;
}

.carousel-sec .fourth-page .box1 .fourth-page-hey {
  display: flex;
  flex-direction: column;
align-items: center;
}


.carousel-sec .fourth-page .box1 .fourth-page-hey svg {
  width: 80%;
  height: 30%;
}

.carousel-sec .fourth-page .box1 h3 {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 40px;
}

.carousel-sec .fourth-page .box1 p {
  font-size: 1.4rem;
  margin-bottom: 0;
}

.carousel-sec .fourth-page .box2 {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  background-color: rgb(27 92 221);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  gap: 30px;
}

.carousel-sec .fourth-page .box2 svg {
  width: 40%;
  height: 40%;
}

.carousel-sec .fourth-page .box2 .jf-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel-sec .fourth-page .box2 .jf-div img {
  width: 100%;
  height: 40%;
  border-radius: 50%;
  margin-bottom: 15px;
}
.carousel-sec .fourth-page .box2 .jf-div h3 {
  font-size: 1rem;
  color: white;
  font-weight: 600;
}

.carousel-sec .fourth-page .box3 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background-color: rgb(255 245 195);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.carousel-sec .fourth-page .box3 h3 {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 30px;
  width: 55%;
}

.carousel-sec .fourth-page .box3 .img-div-df {
  display: flex;
  gap: 20px;
}

.carousel-sec .fourth-page .box3 .img-div-df img {
  border-radius: 50%;
}

.carousel-sec .fourth-page .box3 svg g path {
  fill: black;
}

.carousel-sec .fourth-page .box3 svg {
  width: 30%;
  height: 20%;
}

.carousel-sec .fourth-page .box4 {
  grid-column: 2 / 3;
  grid-row: 2 / 4;
  background-color: rgb(255 235 227);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.carousel-sec .fourth-page .box4 h3 {
  color: rgb(27 92 221);
  font-size: 3.3rem;
}

















/* hear-section */
  .hear-sec {
    background-image: url(https://static.wixstatic.com/media/84770f_dde9669cbd3e4aa8b30dab432429de0b~mv2.jpg/v1/fill/w_980,h_1027,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/84770f_dde9669cbd3e4aa8b30dab432429de0b~mv2.jpg);
    background-size: cover;
    object-fit: cover;
    width: 100%; 
    height: 1027px;
    display: flex;
    justify-content: end;
    align-items: end;
  }



.hear-sec .hear-sec-div {
  background-color: rgb(255 235 227);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 43%;
  height: 80%;
  gap: 100px ;
  max-height: 800px;
    width: clamp(300px, 80vw, 900px);

}

.hear-sec .hear-sec-div h1 {
  padding-top: 80px;
  padding-left: 60px;
  width: 90%;
  font-size: 5rem;
}

.hear-sec .hear-sec-div .text-carousel {
  padding-right: 90px;
  width: 100%;
  min-height: 30%;
  height: auto;


}

.hear-sec .hear-sec-div .text-carousel h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  width: 100%;
}

.hear-sec .hear-sec-div .text-carousel .first-text {
  width: 100%;
}





/* inupt-sec */
.input-sec {
  background-color: rgb(255,245,195);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-sec .inp-div h1 {
  padding-top: 130px;
  font-size: 5rem;
  margin-bottom: 100px;
  text-align: center;
}

.input-sec .inp-div p {
  text-align: center;
  font-size: 1.3rem;
  margin: 0 auto;
  width: 400px;
  margin-bottom: 70px;
}


.input-sec .inp-div form {
  display: flex;
  flex-direction: column;
}

.input-sec .inp-div form .email-cl {
  border-radius: 40px;
  padding: 8px ;
  border: 1px solid black;
  background-color: rgb(255,245,195);
  margin-bottom: 25px;
}

.input-sec .inp-div form .email-cl:hover {
  border: 1px solid blue;
  outline: blue;
}

.input-sec .inp-div form .checkbox-div {
  display: flex;
  gap: 15px;
}

.input-sec .inp-div form .checkbox-div input {
  height: 20px;
  padding: 30px;
  accent-color: rgb(255,245,195);
  margin-bottom: 30px;
}

.input-sec .inp-div form .submit {
  width: 35%;
  font-size: 1.2rem;
  margin: 0 auto;
  margin-bottom: 70px;
  color: white;
  background-color: black;
  padding: 13px 20px;
  border-radius: 50px;
}





/* sculpty-sec */
.sculpty-sec a {
  text-decoration: none;
  color: black;
      font-size: 22vw;

  text-align: center;
  margin: 0 auto;
  width: 100%;
  display: block;
}















/* footer */
footer {
  bottom: 0;
  position: relative;
  width: 97%;
  margin: 0 auto;
  margin-bottom: 20px;
}
footer .footer-df {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: auto;
}

footer .first-div {
  background-color: #15241d;
  width: 50%;
  height: 368px;
  border-radius: 20px;
  padding: 60px;
  display: flex;
  align-items: center;
  padding-bottom: 250px;
}

footer .first-div svg path {
  fill: white;
}

footer .first-div a {
  color: white;
  text-decoration: none;
  font-size: 3.125rem;
  margin-left: 25px;
}

footer .second-div {
  background-color: #15241d;
  width: 50%;
  border-radius: 20px;
  padding: 60px;
  padding-top: 120px;
  height: 368px;
}

footer .svg-div {
  display: flex;
}

footer .svg-div svg {
  width: 50px;
  margin-bottom: 20px;
}

footer .svg-div ul {
  display: flex;
  list-style: none;
  border-bottom: 1px solid white;
  width: 400px;
}

footer .number-span {
  display: block;
  width: 314px;
  color: white;
  font-size: 1.25rem;
  margin-top: 20px;
  line-height: 30px;
}

footer .footer-second-div a {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 1.25rem;
  width: 314px;
  line-height: 30px;
}

footer .adress-span {
  color: white;
  display: block;
  font-size: 1.25rem;
  width: 250px;
  line-height: 30px;
}

footer .third-div .footer-links {
  display: flex;
  flex-direction: column;
}

footer .third-div {
  background-color: #15241d;
  height: 159px;
  margin-top: 20px;
  border-radius: 20px;
  padding: 60px;
  display: flex;
  justify-content: space-between;
}

footer .third-div .footer-links a {
  color: white;
  text-decoration: none;
  font-size: 1.25rem;
}

footer .third-div .copyright-span {
  margin-top: 10px;
  color: white;
}

footer .third-div .copyright-span a {
  color: white;
}








@media (max-width:1000px) {
    .phone-img {
      width: 55%;
      min-width: 55%;
    }

    .mobile-div .bell-div .bell-second-svg svg {
      width: 60px;
      height: 20px;
    }

    .gray-div {
      height: 20%;
      flex-direction: column;
      height: 30%;
      width: 35%;
      left: -24%;
    }

    .gray-div .first-svg svg {
      width: 60%;
      height: 100%;
    }
    .gray-div .first-svg {
      width: 50%;
      text-align: center;
    }

    .gray-div .second-svg svg {
      width: 65%;
      height: 100%;
    }
.gray-div .second-svg {
  width: 50%;
  text-align: center;
}




.pink-div {
  width: 32%;
  height: 21%;
}

.blue-div {
  flex-direction: column;
  height: 30%;
  width: 40%;
  right: -25%;

}

.blue-div .first-svg {
  width: 50%;
  text-align: center;
}

.blue-div .first-svg  svg{
  width: 50%;
  height: 100%;

}





.blue-div .second-svg {
  width: 50%;
  text-align: center;
}

.blue-div .second-svg svg {
  width: 55%;
  height: 100%;
}



.video-sec .video-div .video-text {
  left: 80%;

}

.video-sec video {
  width: 97%;
}

  .explore-sec .list-div .first-div {
    flex-direction: column;
    align-items: start;
    padding: 80px 20px;
  }

.explore-sec .list-div .first-div .middle-div {
  flex-direction: column;
  align-items: start;
  gap: 10px ;
}

.explore-sec .list-div .first-div .middle-div p {
  width: 100%;
}

.explore-sec .list-div .first-div .middle-div h1 {
  font-size: 3rem;
}


.explore-sec .list-div .first-div img {
  width: 80%;
  height: 70%;
  object-fit: cover;
}



.explore-sec .list-div .second-div {
  flex-direction: column;
    align-items: start;
    padding: 80px 20px;
}

.explore-sec .list-div .second-div .middle-div {
  flex-direction: column;
  align-items: start;
  gap: 10px ;
  width: 50%;
}

.explore-sec .list-div .second-div .middle-div p {
  width: 100%;
}


.explore-sec .list-div .second-div .middle-div h1 {
  font-size: 3rem;
}


.explore-sec .list-div .second-div img {
  width: 80%;
  height: 40%;
  object-fit: cover;
}


.explore-sec .list-div .third-div {
  flex-direction: column;
    align-items: start;
    padding: 80px 20px;
}

.explore-sec .list-div .third-div .middle-div {
  flex-direction: column;
  align-items: start;
  gap: 10px ;
  width: 50%;
}

.explore-sec .list-div .third-div .middle-div p {
  width: 100%;
}

.explore-sec .list-div .third-div .middle-div h1 {
  font-size: 3rem;
}


.explore-sec .list-div .third-div img {
  width: 80%;
  height: 70%;
  object-fit: cover;
}


.explore-sec .list-div .fourth-div {
  flex-direction: column;
    align-items: start;
    padding: 80px 20px;
}

.explore-sec .list-div .fourth-div .middle-div {
  flex-direction: column;
  align-items: start;
  gap: 10px ;
  width: 50%;
}

.explore-sec .list-div .fourth-div .middle-div p {
  width: 100%;
}

.explore-sec .list-div .fourth-div .middle-div h1 {
  font-size: 3rem;
}

.explore-sec .list-div .fourth-div img {
  width: 80%;
  height: 70%;
  object-fit: cover;
}

.hear-sec .hear-sec-div .text-carousel h2 {
  font-size: 5vw;
  width: 100%;
  margin: 0 auto;
  padding-left: 60px;
}
.hear-sec .hear-sec-div .text-carousel {
  padding-left: 60px;
}

.hear-sec .hear-sec-div .text-carousel h2 {
  padding-left: 0;
}


.hear-sec .hear-sec-div .text-carousel .first-text {
  width: 80%;
  height: 100%;
}


.hear-sec .hear-sec-div h1 {
  font-size: 7vw;
}



.hear-sec-div .carousel-inner {
  width: 100%;
    min-width: 0;
    margin: 0;
    margin-bottom: 0;
}




.hear-sec .hear-sec-div .text-carousel {
    padding-right: 0;
    margin-bottom: 50px;
}







}















@media (max-width: 900px) {
  .header-title svg {
    width: 37%;
  }

  header .header-title h2 {
    margin-bottom: 0;
  }

  header .header-title h2 a {
    font-size: 1.5rem;
    margin-bottom: 0;
  }
  header .nav-div ul {
    gap: 13px;
  }

  header .nav-div ul li a {
    font-size: 0.8rem;
  }

  .hero-section h1 {
    font-size: 8vw;
  }

  .explore-sec .hero-div p {
    font-size: 4vw;
    width: 80%;
    min-width: 200px ;
  }

  .explore-sec .list-div .first-div .middle-div p {
    width: 70%;
  }

  .transform-sec .third-sec-div h1 {
    width: 80%;
  }

  .transform-sec .third-sec-div p {
    width: 70%;
  }

  .input-sec .inp-div h1 {
    font-size: 8vw;
  }

  /* #region burger menu for tablet */
  header nav {
    display: flex;
    justify-content: space-between;
  }

  header .nav-div ul {
    display: none;
  }

  .burger-label {
    width: 2.25rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 35%;
    right: 8%;
    z-index: 100;
    overflow: hidden;
  }
  .burger-label span {
    width: 90%;
    height: 3px;
    border-radius: 3px;
    background-color: white;
    transition: all 0.3s;
  }

  .mobile-nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    background-color: #15241d;
    border-radius: 15px;
    padding: 20px;
    position: absolute;
    top: 70%;
    right: 0;
    width: 100%;
    height: 250px;
  }

  .advantages-div p {
    font-size: 2.5rem;
    width: 330px;
  }

  .mobile-nav ul li {
    margin: 0 auto;
    padding: 7px;
  }

  .mobile-nav ul li a {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }

  .mobile-nav ul li a:hover {
    color: rgb(181, 255, 220);
    transition: 0.4s;
  }

  #burger-menu:checked ~ .burger-label .line-1 {
    transform: rotate(45deg) translate(10px, 10px);
    background-color: red;
  }

  #burger-menu:checked ~ .burger-label .line-2 {
    transform: translateX(-100%);
    opacity: 0;
  }

  #burger-menu:checked ~ .burger-label .line-3 {
    transform: rotate(-45deg) translate(10px, -10px);
    background-color: red;
  }






/* carousel sec */
  .carousel-sec .carousel-inner {
      width: 90%;
      min-width: 30%;
  }




  .carousel-sec .first-page {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 190px 190px 230px;
  }

  .carousel-sec .first-page .box1  {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .carousel-sec .first-page .box4 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

.carousel-sec .first-page .box5 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}


.carousel-sec .first-page .box6 {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.carousel-sec .first-page .box7 {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.carousel-sec .first-page .box2 {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

.carousel-sec .first-page .box3 {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

/* 910 */

.carousel-sec .second-page {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 273px 380px 273px;
}


.carousel-sec .second-page .box3 {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.carousel-sec .second-page .box3 img {
  object-fit: contain;
}

.carousel-sec .second-page .box2 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.carousel-sec .second-page .box1  {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.carousel-sec .second-page .box4 {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
}

.carousel-sec .second-page .box1 h3 {
  font-size: 2rem;
}

.carousel-sec .second-page .box1 p {
  font-size: 3rem;
}


.carousel-sec .third-page {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 260px 180px 493px;
}


.carousel-sec .third-page .box1 {
  grid-column: 1 / 7;
  grid-row: 1 / 2;
}

.carousel-sec .third-page .box3 {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

.carousel-sec .third-page .box4 {
  grid-column: 3 / 5;
  grid-row: 2 / 3;
}

.carousel-sec .third-page .box5 {
  grid-column: 5 / 7;
  grid-row: 2 / 3;
}

.carousel-sec .third-page .box2 {
  grid-column: 1 / 4;
  grid-row: 3 / 4;
}


.carousel-sec .third-page .box6 {
  grid-column: 4 / 7;
  grid-row: 3 / 4;
}


.carousel-sec .fourth-page {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 320px 230px 380px;
}


.carousel-sec .fourth-page .box1 {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.carousel-sec .fourth-page .box2 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.carousel-sec .fourth-page .box4 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.carousel-sec .fourth-page .box3 {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
}


.carousel-sec .fourth-page .box1 {
  flex-direction: row;
  justify-content: space-evenly;
}

.carousel-sec .fourth-page .box1 .fourth-page-anna {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-sec .fourth-page .box1 .fourth-page-anna img {
  width: 100%;
}


.carousel-sec .fourth-page .box1 .fourth-page-hey {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-sec .fourth-page .box1 .fourth-page-hey svg {
  width: 70%;
  height: 80%;
}








.carousel-sec span {
  width: 40%;
}































  /* footer */
  footer .footer-df {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }

  footer .first-div,
  footer .second-div {
    width: 100%;
    margin: 5px 0;
  }

  footer .first-div a {
    font-size: 2rem;
  }

  footer .third-div {
    flex-direction: column;
    align-items: center;
    height: 300px;
    justify-content: center;
    margin-top: 0;
  }

  footer .first-div {
    width: 100%;
  }
}

@media (max-width: 600px) {
  header {
    width: 100%;
    margin: 10px 0;
  }

  header nav {
    display: flex;
    justify-content: space-between;
  }

  header .nav-div ul {
    display: none;
  }

  .burger-label {
    width: 2.25rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: static;
    margin-right: 30px;
    top: 6%;
    right: 8%;
    z-index: 9999;
    overflow: hidden;
  }

  #burger-menu:checked ~ .burger-label {
    position: fixed;
    margin-right: 2px;
  }

  .burger-label span {
    width: 90%;
    height: 3px;
    border-radius: 3px;
    background-color: white;
    transition: all 0.3s;
  }

  .mobile-nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    background-color: rgb(181, 255, 220);
    padding: 20px;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 9997;
    border-radius: 0px;
  }

  .mobile-nav ul li {
    margin-top: 50px;
    margin: 10px auto;
    border-bottom: solid #15241d 0.1px;
    width: 200px;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
    padding: 20px 0;
  }

  .mobile-nav ul li a {
    color: #15241d;
    text-decoration: none;
    cursor: pointer;
  }

  .mobile-nav ul li a:hover {
    color: rgb(181, 255, 220);
    transition: 0.4s;
  }

  #burger-menu:checked ~ .burger-label .line-1 {
    transform: rotate(45deg) translate(10px, 10px);
    background-color: #15241d;
  }

  #burger-menu:checked ~ .burger-label .line-2 {
    transform: translateX(-100%);
    opacity: 0;
  }

  #burger-menu:checked ~ .burger-label .line-3 {
    transform: rotate(-45deg) translate(10px, -10px);
    background-color: #15241d;
  }






/* hero */
  .download-div .appstore {
    display: none;
  }

  .download-div .google  a {
    width: 100%;
  }


.download-div .google img{
  width: 100%;
}

.phone-img {
  width: 63%;
}

.mobile-div .bell-div {
  top: 7%;
  left: -14%;
}


.gray-div {
  width: 28%;
  top: 31%;
  left: -14%;
}

.pink-div h2 {
  font-size: 1.7rem;
  margin-bottom: 0;
}

.hero-section h1 {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 50px;
}


.hero-section p {
  font-size: 1.4rem;
}

.pink-div p {
  font-size: 0.8rem;
}

.video-sec .video-div .video-text {
  left: 70%;
 
}

.video-sec .video-div .video-text p {
 font-size: 0.8rem;
}


.carousel-sec .first-page svg {
  width: 30%;
}

.carousel-sec span {
  width: 60%;
}

.transform-sec .third-sec-div h1 {
  font-size: 20vw;
}

.iphone {
  display: none;
}


.explore-sec .hero-div h1 {
  font-size: 15vw;
}

.explore-sec .list-div .first-div img {
  width: 100%;
  height: 350px;
}
.explore-sec .list-div .first-div {
  padding: 50px 0 ;

}

.explore-sec .list-div .first-div h2 {
  padding: 0 30px;
}

.explore-sec .list-div .first-div .middle-div {
  padding: 0 30px;
}

.explore-sec .list-div .second-div {
  padding: 50px 0 ;
}

.explore-sec .list-div .second-div img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.explore-sec .list-div .second-div h2 {
  padding: 0 30px;
}

.explore-sec .list-div .second-div .middle-div {
   padding: 0 30px;
}

.explore-sec .list-div .third-div {
  padding: 50px 0 ;
}

.explore-sec .list-div .third-div img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.explore-sec .list-div .third-div h2 {
  padding: 0 30px;
}

.explore-sec .list-div .third-div .middle-div {
  padding: 0 30px;
}




.explore-sec .list-div .fourth-div {
  padding: 50px 0 ;
}

.explore-sec .list-div .fourth-div img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.explore-sec .list-div .fourth-div h2 {
  padding: 0 30px;
}

.explore-sec .list-div .fourth-div .middle-div {
  padding: 0 30px;
}




.input-sec .inp-div h1 {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 40px;
}

.input-sec .inp-div p {
  width: 80%;
}

.input-sec .inp-div form {
  width: 80%;
  margin: 0 auto;
}

.video-sec .video-div .video-text .third-p {
  margin-bottom: 20px;
}


  /* footer */
  footer {
    width: 100%;
  }

  footer .first-div {
    width: 100%;
    height: 170px;
    margin: 5px 0;
    padding-bottom: 65px;
  }

  footer .footer-df {
    gap: 0;
  }

  footer .second-div {
    width: 100%;
    height: 350px;
    margin-top: 0;
    padding-top: 70px;
    padding: 50px;
  }

  footer .third-div {
    width: 100%;
    margin: 0;
    align-items: normal;
    gap: 40px;
  }
}
