.login-div {
  background-color: rgb(165, 164, 164);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 700px;
  height: 750px;
  margin: 50px auto;
  border-radius: 20px;

  h2 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: white;
  }

  .inp-email {
    width: 450px;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: none;
    font-size: 1rem;
    outline: none;

    :focus {
      scale: 1.1;
      transition: 0.2s;
    }
  }

  .inp-password {
    width: 450px;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: none;
    font-size: 1rem;
    outline: none;

    :focus {
      scale: 1.1;
      transition: 0.2s;
    }
  }

  .login-p {
    color: white;
    margin-bottom: 10px;
  }

  .button {
    width: 350px;
    height: 30px;
    background-color: #5b86e5;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;

    :hover {
      scale: 1.1;
      transition: 0.3s;
    }
  }

  span {
    margin-top: 8px;
    color: white;
    font-size: 1rem;

    a {
      color: #0051ff;
      text-decoration: none;
    }
  }
}
