/*ოფიციალური wix ის გვერდი : https://www.wix.com/website-template/view/html/4408?originUrl=https%3A%2F%2Fwww.wix.com%2Fwebsite%2Ftemplates%2Fhtml%2Fall%2F46&tpClick=view_button&esi=16724128-2e51-4061-851a-a0d172beb011 */

/*  */

:root {
  font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* #region header style */

header .nav-div .active {
  color: rgb(181, 255, 220);
}

header {
  height: 110px;
  background-color: #15241d;
  margin: 30px;
  border-radius: 20px;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

header .header-title {
  display: flex;
  align-items: center;
}

.header-title a svg {
  margin-left: 40px;
  animation: linear rotate 8s infinite reverse;
}

.header-title a svg path {
  fill: white;
}

@keyframes rotate {
  from {
    rotate: 0;
  }

  to {
    rotate: 360deg;
  }
}

header .header-title h2 a {
  color: white;
  text-decoration: none;
  margin-left: 12px;
  font-size: 2.2rem;
}

header .nav-div ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-right: 50px;
}

header .nav-div a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
}

.nav-div a:hover {
  color: rgb(181, 255, 220);
}

header .nav-div ul .login {
  background-color: rgb(204, 153, 1);
  color: red;
  width: 80px;
  padding: 10px;
  border-radius: 10px;
}
header .nav-div ul .login a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: rgb(10, 7, 196);
  font-weight: bold;
}

header .nav-div ul .login:hover {
  scale: 1.1;
  transition: 0.4s;
  color: white;
}

/* #endregion */

/* #mobile nav menu */
.checkbox {
  display: none;
}

.burger-label {
  display: none;
}

.mobile-nav {
  background-color: gray;
  display: none;
}

#burger-menu:checked ~ .mobile-nav {
  display: block;
}

/* #endregion */

/* #region hero section */

.hero-sec {
  display: flex;
  margin: 30px;
  justify-content: space-between;
}

.hero-sec .hero-df {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.hero-img {
  width: 49%;
}

.hero-sec .hero-img img {
  width: 100%;
  height: 1205px;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 20px;
}

.hero-second-div {
  background-color: rgb(181, 255, 220);
  width: 100%;
  height: 592px;
  padding: 50px;
  border-radius: 20px;
}

.hero-second-div h1 {
  font-size: 5.8125rem;
  color: rgb(21, 36, 29);
  width: 200px;
  letter-spacing: -0.05em;
}

.hero-second-div p {
  font-size: 1.25rem;
  color: rgb(21, 36, 29);
  width: 300px;
  margin-top: 15px;
  margin-bottom: 30px;
}

.hero-second-div a {
  display: inline-block;
  background-color: rgb(21, 36, 29);
  padding: 15px;
  width: 180px;
  border-radius: 50px;
  color: white;
  text-decoration: none;
  text-align: center;
}

.hero-second-div a:hover {
  background-color: rgb(181, 255, 220);
  color: black;
  border: black 1px solid;
  transition: 0.4s;
}

.hero-second-img img {
  width: 100%;
  height: 592px;
  object-fit: cover;
  object-position: 50% 50%;
  margin-top: 20px;
  border-radius: 20px;
}

/* #endregion */

/* #region about section */

.aboutus-sec {
  height: 1811px;
  margin: 30px;
}

.about-title-div {
  display: block;
  text-align: center;
  width: 100%;
  padding-top: 120px;
  margin: 0 auto;
}

.about-title-div .abou-title {
  color: rgb(21, 36, 29);
  margin-bottom: 5px;
  font-size: 1.4rem;
}

.about-title-div .abou-title-p {
  color: #15241d;
  font-size: 70px;
  font-size: 4.5rem;
}

.our-mission-div {
  width: 100%;
  height: 415px;
  background-color: rgb(229, 230, 235);
  border-radius: 20px;
  margin-top: 120px;
  padding: 60px;
}

.our-mission-div .mission-text {
  padding-top: 100px;
  width: 890px;
  color: rgb(21, 36, 29);
  font-size: 1.19rem;
}

.our-mission-div .mission-h2 {
  font-size: 2.4rem;
  margin-bottom: 15px;
  color: #15241d;
}

.about-df {
  display: flex;
  width: 100%;
}

.vision-div {
  width: 74.7%;
  height: 437px;
  background-color: rgb(229, 230, 235);
  border-radius: 20px;
  margin-top: 20px;
  padding: 60px;
  margin-bottom: 30px;
}

.vision-text {
  padding-top: 150px;
  width: 550px;
}

.vision-text .vision-h2 {
  color: #15241d;
  font-size: 2.4rem;
  margin-bottom: 15px;
}

.vision-text .vision-p {
  color: #15241d;
  font-size: 1.19rem;
  width: 750px;
}

.learn-more-div {
  background-color: rgb(181, 255, 220);
  width: 25%;
  height: 437px;
  margin: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: right;
  align-items: end;
  padding: 50px;
  margin-right: 0;
}

.learn-more-div a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px;
  width: 190px;
  color: white;
  background-color: #15241d;
  border-radius: 50px;
  text-decoration: none;
}

.learn-more-div a:hover {
  background-color: rgb(181, 255, 220);
  color: black;
  border: black 1px solid;
  transition: 0.4s;
}

.aboutus-img {
  width: 100%;
}

.aboutus-sec img {
  width: 100%;
  border-radius: 20px;
  height: 567px;
  object-fit: cover;
  object-position: 50% 50%;
}

/* services section */
.services-heading {
  margin-top: 250px;
  text-align: center;
  font-size: 1.5rem;
  color: rgb(21, 36, 29);
}

.services-p {
  text-align: center;
  font-size: 4.8rem;
  color: rgb(21, 36, 29);
  font-weight: 350;
  margin-bottom: 50px;
}

.services-span {
  margin: 0 auto;
  text-align: center;
  display: block;
  font-size: 1.2rem;
  width: 520px;
  margin-bottom: 150px;
  color: rgb(21, 36, 29);
}

.advantages-div {
  background-color: #15241d;
  width: 97%;
  height: 320px;
  margin: 0 auto;
  border-radius: 20px;
  margin-bottom: 30px;
  padding: 80px;
  color: white;
}

.advantages-div h3 {
  font-size: 1.5rem;
  margin-bottom: 4px;
  font-weight: 500;
}

.advantages-div p {
  font-size: 5rem;
  font-weight: 350;
}

/* icons */
.icons-div {
  display: flex;
  justify-content: space-between;
  width: 97%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.icons-div .first-icon {
  background-color: rgb(229, 230, 235);
  width: 495px;
  height: 510px;
  border-radius: 20px;
  padding: 100px;
}

.icons-div .second-icon {
  background-color: rgb(229, 230, 235);
  width: 495px;
  height: 510px;
  border-radius: 20px;
  padding: 100px;
}

.icons-div .third-icon {
  background-color: rgb(229, 230, 235);
  width: 495px;
  height: 510px;
  border-radius: 20px;
  padding: 100px;
}

.icons-div .fourth-icon {
  background-color: rgb(229, 230, 235);
  width: 495px;
  height: 510px;
  border-radius: 20px;
  padding: 100px;
}

.icons-div .icons-svg {
  margin-bottom: 50px;
}

.icons-div .icons-first-p {
  color: #15241d;
  font-size: 1rem;
  margin-bottom: 10px;
}

.icons-div .icons-second-p {
  width: 300px;
  color: #15241d;
  font-size: 1.5rem;
  font-weight: 450;
  margin-bottom: 20px;
}

.icons-div .icons-third-p {
  color: #15241d;
  font-size: 1rem;
  width: 250px;
  text-align: start;
}

/* testimonials section */
.testimonials-sec {
  width: 97%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.testimonials-sec .testimonials-h2 {
  text-align: center;
  font-size: 1.4rem;
  color: #15241d;
  font-weight: 450;
  margin-top: 150px;
  margin-bottom: 8px;
}

.testimonials-sec .testimonials-p {
  text-align: center;
  font-size: 4.3rem;
  font-weight: 350;
  color: #15241d;
  margin-bottom: 120px;
}

.testimonials-sec .sara-div {
  display: flex;
  gap: 20px;
}

.testimonials-sec .sara-div img {
  width: 50%;
  border-radius: 20px;
  object-fit: cover;
}

.testimonials-sec .sara-div .sara-info {
  width: 50%;
  background-color: rgb(21, 36, 29);
  color: white;
  border-radius: 20px;
  padding: 60px;
}

.testimonials-sec .sara-div .sara-info h3 {
  width: 420px;
  font-size: 2rem;
  margin-bottom: 30px;
}

.testimonials-sec .sara-div .sara-info p {
  font-size: 0.9rem;
  width: 133px;
  margin-bottom: 8px;
}

.testimonials-sec .sara-div .sara-info span {
  font-size: 1rem;
}

.testimonials-sec .david-div {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.testimonials-sec .david-div img {
  width: 50%;
  border-radius: 20px;
  object-fit: cover;
}

.testimonials-sec .david-div .david-info {
  width: 50%;
  background-color: rgb(181, 255, 220);
  color: rgb(21, 36, 29);
  border-radius: 20px;
  padding: 60px;
}

.testimonials-sec .david-div .david-info h3 {
  width: 385px;
  font-size: 2rem;
  font-weight: 380;
  margin-bottom: 30px;
}

.testimonials-sec .david-div .david-info p {
  font-size: 1rem;
  font-weight: 450;
  width: 133px;
  margin-bottom: 8px;
}

.testimonials-sec .david-div .david-info span {
  font-size: 1rem;
  font-weight: 450;
}

.testimonials-sec .sophia-div {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.testimonials-sec .sophia-div img {
  width: 50%;
  border-radius: 20px;
  object-fit: cover;
}

.testimonials-sec .sophia-div .sophia-info {
  width: 50%;
  background-color: rgb(21, 36, 29);
  color: white;
  padding: 60px;
  border-radius: 20px;
}

.testimonials-sec .sophia-div .sophia-info h3 {
  width: 400px;
  font-size: 2rem;
  font-weight: 350;
  margin-bottom: 30px;
}

.testimonials-sec .sophia-div .sophia-info p {
  font-size: 1rem;
  width: 133px;
  margin-bottom: 8px;
}

/* contact sec */

.contact-div {
  width: 97%;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.contact-div .empty-div {
  width: 32%;
  height: 1200px;
  background-color: #15241d;
  border-radius: 20px;
}

.contact-div .contact-input {
  width: 68%;
  height: 1200px;
  background-color: rgb(181, 255, 220);
  border-radius: 20px;
  padding-top: 170px;
}

.contact-div .contact-input .contact-input-text {
  text-align: center;
  margin: 0 auto;
}

.contact-div .contact-input h3 {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 10px;
}

.contact-div .contact-input p {
  font-size: 4.5rem;
  font-weight: 350;
  margin-bottom: 100px;
}

.contact-div .contact-input span {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 50px;
}

.contact-div .contact-input form {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 0 auto;
  text-align: start;
  gap: 20px;
}

.contact-div .contact-input form .first-name-input {
  height: 40px;
  background-color: rgb(181, 255, 220);
  outline: none;
  border: none;
  font-size: 1.1rem;
  border-bottom: 0.5px solid black;
  padding-left: 10px;
  margin-bottom: 20px;
}

.contact-div .contact-input form .last-name-input {
  height: 40px;
  background-color: rgb(181, 255, 220);
  outline: none;
  border: none;
  font-size: 1.1rem;
  border-bottom: 0.5px solid black;
  padding-left: 10px;
  margin-bottom: 20px;
}

.contact-div .contact-input form .email-input {
  height: 40px;
  background-color: rgb(181, 255, 220);
  outline: none;
  border: none;
  font-size: 1.1rem;
  border-bottom: 0.5px solid black;
  padding-left: 10px;
  margin-bottom: 20px;
}

.contact-div .contact-input form .contact-textarea {
  height: 100px;
  background-color: rgb(181, 255, 220);
  outline: none;
  border: none;
  font-size: 1.1rem;
  border-bottom: 0.5px solid black;
  padding-left: 10px;
  resize: none;
  margin-bottom: 20px;
}

.contact-div .contact-input form .contact-submit {
  height: 47px;
  background-color: #15241d;
  color: white;
  padding: 10px;
  border-radius: 20px;
  font-size: 1.1rem;
  cursor: pointer;
}

.contact-div .contact-input form .contact-submit:hover {
  background-color: rgb(181, 255, 220);
  color: #15241d;
  transition: 0.3s;
}

/* #endregion */

/* #region about us page  */

.aboutus-page .aboutus-page-sec {
  width: 97%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.aboutus-page .aboutus-page-sec .h1-div {
  background-color: #15241d;
  height: 440px;
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 60px;
}

.aboutus-page .aboutus-page-sec .h1-div h1 {
  display: inline-block;
  padding-top: 120px;
  width: 1000px;
  color: white;
  font-size: 5.5rem;
  font-weight: 400;
  align-items: end;
}

.aboutus-page .aboutus-page-sec .aboutus-hero-img img {
  width: 100%;
  border-radius: 20px;
  margin-bottom: 20px;
}

.aboutus-page .aboutus-page-sec .vision-aproach-div .first-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  height: 850px;
  margin-bottom: 20px;
}

.aboutus-page .aboutus-page-sec .vision-aproach-div .first-row .text-div {
  width: 50%;
  background-color: rgb(181, 255, 220);
  border-radius: 20px;
  padding: 70px;
}

.aboutus-page .aboutus-page-sec .vision-aproach-div .first-row .text-div h2 {
  font-size: 1.3rem;
  margin-bottom: 150px;
  color: #15241d;
}

.aboutus-page .aboutus-page-sec .vision-aproach-div .first-row .text-div p {
  width: 490px;
  font-size: 2.3rem;
  font-weight: 400;
  color: #15241d;
}

.aboutus-page .aboutus-page-sec .vision-aproach-div .first-row img {
  width: 50%;
  border-radius: 20px;
}

.aboutus-page .aboutus-page-sec .vision-aproach-div .second-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  height: 780px;
}

.aboutus-page .aboutus-page-sec .vision-aproach-div .second-row img {
  width: 50%;
  border-radius: 20px;
}

.aboutus-page .aboutus-page-sec .vision-aproach-div .second-row .text-div {
  width: 50%;
  background-color: rgb(181, 255, 220);
  padding: 70px;
  border-radius: 20px;
}

.aboutus-page .aboutus-page-sec .vision-aproach-div .second-row .text-div h2 {
  font-size: 1.2rem;
  margin-bottom: 150px;
  color: #15241d;
}

.aboutus-page .aboutus-page-sec .vision-aproach-div .second-row .text-div p {
  width: 490px;
  font-size: 2.3rem;
  font-weight: 400;
  color: #15241d;
}

/* #endregion */

/* #region services-page */
.services-page-main {
  background-color: #15241d;
  width: 100%;
  height: 1850px;
  padding-top: 200px;
  margin-bottom: 20px;
}

.services-page-main h1 {
  text-align: center;
  color: white;
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.services-page-main .services-page-hero-p {
  text-align: center;
  color: rgb(181, 255, 220);
  font-size: 5rem;
  width: 700px;
  margin: 0 auto;
  font-weight: 350;
  margin-bottom: 40px;
}

.services-page-main span {
  display: inline-block;
  color: white;
  text-align: center;
  width: 100%;
  font-size: 1.2rem;
  margin-bottom: 170px;
}

.services-page-main .boxes-div svg {
  width: 90px;
  height: 90px;
}

.services-page-main .boxes-div .first-box {
  background-color: white;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  height: 220px;
  display: flex;
  margin: 0 auto;
  border-radius: 20px;
  margin-bottom: 20px;
}

.services-page-main .boxes-div .first-box h2 {
  display: flex;
  font-size: 2.5rem;
  font-weight: 350;
  width: 250px;
  color: #15241d;
  margin-bottom: 50px;
}

.services-page-main .boxes-div .first-box p {
  width: 405px;
  font-size: 1.1rem;
  font-weight: 400;
  color: #15241d;
}

.services-page-main .boxes-div .second-box {
  background-color: white;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  height: 220px;
  display: flex;
  margin: 0 auto;
  border-radius: 20px;
  margin-bottom: 20px;
}

.services-page-main .boxes-div .second-box h2 {
  display: flex;
  font-size: 2.5rem;
  font-weight: 350;
  width: 250px;
  color: #15241d;
  margin-bottom: 50px;
}

.services-page-main .boxes-div .second-box p {
  width: 405px;
  font-size: 1.1rem;
  font-weight: 400;
  color: #15241d;
}

.services-page-main .boxes-div .third-box {
  background-color: white;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  height: 220px;
  display: flex;
  margin: 0 auto;
  border-radius: 20px;
  margin-bottom: 20px;
}

.services-page-main .boxes-div .third-box h2 {
  display: flex;
  font-size: 2.5rem;
  font-weight: 350;
  width: 250px;
  color: #15241d;
  margin-bottom: 50px;
}

.services-page-main .boxes-div .third-box p {
  width: 405px;
  font-size: 1.1rem;
  font-weight: 400;
  color: #15241d;
}

.services-page-main .boxes-div .forth-box {
  background-color: white;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  height: 220px;
  display: flex;
  margin: 0 auto;
  border-radius: 20px;
  margin-bottom: 20px;
}

.services-page-main .boxes-div .forth-box h2 {
  display: flex;
  font-size: 2.5rem;
  font-weight: 350;
  width: 250px;
  color: #15241d;
  margin-bottom: 50px;
}

.services-page-main .boxes-div .forth-box p {
  width: 405px;
  font-size: 1.1rem;
  font-weight: 400;
  color: #15241d;
}

/* #endregion */

/* #region contact page */
.contact-page-main .contact-page-main-div {
  display: flex;
  width: 97%;
  margin: 0 auto;
  gap: 20px;
  height: 1100px;
  margin-bottom: 20px;
}

.contact-page-main .contact-page-main-div img {
  width: 50%;
  border-radius: 20px;
}

.contact-page-main .contact-page-main-div .contact-login {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-page-main .contact-page-main-div .contact-login h1 {
  color: #15241d;
  font-size: 1.5rem;
  font-weight: 450;
  margin-bottom: 15px;
}

.contact-page-main .contact-page-main-div .contact-login p {
  font-size: 5rem;
  font-weight: 350;
  margin-bottom: 50px;
  color: #15241d;
}

.contact-page-main .contact-page-main-div .contact-login span {
  display: block;
  color: #15241d;
  font-size: 1.2rem;
  margin-bottom: 50px;
}

.contact-page-main .contact-page-main-div .contact-login form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.contact-page-main
  .contact-page-main-div
  .contact-login
  form
  .contact-page-firstname {
  height: 50px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  padding-left: 10px;
  font-size: 1.1rem;
  margin-bottom: 40px;
}

.contact-page-main
  .contact-page-main-div
  .contact-login
  form
  .contact-page-lastname {
  height: 50px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  padding-left: 10px;
  font-size: 1.1rem;
  margin-bottom: 40px;
}

.contact-page-main
  .contact-page-main-div
  .contact-login
  form
  .contact-page-email {
  height: 50px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  padding-left: 10px;
  font-size: 1.1rem;
  margin-bottom: 40px;
}

.contact-page-main .contact-page-main-div .contact-login form textarea {
  margin-top: 20px;
  height: 100px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  padding-left: 10px;
  font-size: 1.2rem;
  margin-bottom: 40px;
  resize: none;
}

.contact-page-main
  .contact-page-main-div
  .contact-login
  form
  .contact-page-submit {
  height: 50px;
  background-color: #15241d;
  color: white;
  border-radius: 20px;
  font-size: 1.15rem;
  cursor: pointer;
}

.contact-page-main
  .contact-page-main-div
  .contact-login
  form
  .contact-page-submit:hover {
  background-color: white;
  color: #15241d;
  transition: 0.3s;
}

/* #endregion */

/* #region careers page */
.cp-main {
  width: 97%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.cp-main h1 {
  width: 100%;
  text-align: center;
  color: #15241d;
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 15px;
  margin-top: 150px;
}

.cp-main .cp-hero-p {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  color: #15241d;
  font-size: 4.5rem;
  font-weight: 350;
  margin-bottom: 80px;
}

.cp-main .cp-img-div {
  display: flex;
  gap: 20px;
  height: 1300px;
}

.cp-main .cp-img-div .cp-list {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cp-main .cp-img-div .cp-list .cp-first-list {
  background-color: rgb(229, 230, 235);
  height: 290px;
  border-radius: 20px;
  padding: 70px;
  display: flex;
}

.cp-main .cp-img-div .cp-list .cp-first-list h2 {
  background-color: white;
  border-radius: 20px;
  padding: 23px;
  display: inline-block;
  height: 75px;
  margin-right: 40px;
}

.cp-main .cp-img-div .cp-list .cp-first-list h3 {
  margin-top: 15px;
  color: #15241d;
  font-size: 2rem;
  font-weight: 350;
  margin-bottom: 30px;
}

.cp-main .cp-img-div .cp-list .cp-first-list p {
  color: #15241d;
  font-size: 1rem;
  width: 52%;
}

.cp-main .cp-img-div .cp-list .cp-second-list {
  background-color: rgb(229, 230, 235);
  height: 290px;
  border-radius: 20px;
  padding: 70px;
  display: flex;
}

.cp-main .cp-img-div .cp-list .cp-second-list h2 {
  background-color: white;
  border-radius: 20px;
  padding: 23px;
  display: inline-block;
  height: 75px;
  margin-right: 40px;
}

.cp-main .cp-img-div .cp-list .cp-second-list h3 {
  margin-top: 15px;
  color: #15241d;
  font-size: 2rem;
  font-weight: 350;
  margin-bottom: 30px;
}

.cp-main .cp-img-div .cp-list .cp-second-list p {
  color: #15241d;
  font-size: 1rem;
  width: 52%;
}

.cp-main .cp-img-div .cp-list .cp-third-list {
  background-color: rgb(229, 230, 235);
  height: 290px;
  border-radius: 20px;
  padding: 70px;
  display: flex;
}

.cp-main .cp-img-div .cp-list .cp-third-list h2 {
  background-color: white;
  border-radius: 20px;
  padding: 23px;
  display: inline-block;
  height: 75px;
  margin-right: 40px;
}

.cp-main .cp-img-div .cp-list .cp-third-list h3 {
  margin-top: 15px;
  color: #15241d;
  font-size: 2rem;
  font-weight: 350;
  margin-bottom: 30px;
}

.cp-main .cp-img-div .cp-list .cp-third-list p {
  color: #15241d;
  font-size: 1rem;
  width: 52%;
}

.cp-main .cp-img-div .cp-list .cp-fourth-list {
  background-color: rgb(229, 230, 235);
  height: 350px;
  border-radius: 20px;
  padding: 70px;
  display: flex;
}

.cp-main .cp-img-div .cp-list .cp-fourth-list h2 {
  background-color: white;
  border-radius: 20px;
  padding: 23px;
  display: inline-block;
  height: 75px;
  margin-right: 40px;
}

.cp-main .cp-img-div .cp-list .cp-fourth-list h3 {
  margin-top: 15px;
  color: #15241d;
  font-size: 2rem;
  font-weight: 350;
  margin-bottom: 30px;
  width: 300px;
}

.cp-main .cp-img-div .cp-list .cp-fourth-list p {
  color: #15241d;
  font-size: 1rem;
  width: 52%;
}

.cp-main .cp-img-div img {
  width: 50%;
  border-radius: 20px;
  object-fit: cover;
  height: 1280px;
}

/* #endregion */

/* #region login page style */
.login-div {
  background-color: rgb(165, 164, 164);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 700px;
  height: 750px;
  margin: 50px auto;
  border-radius: 20px;
}

.login-div h2 {
  margin-bottom: 20px;
  font-size: 2rem;
  color: white;
}

.login-div .inp-email {
  width: 450px;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  outline: none;
}

.login-div .inp-email:focus {
  scale: 1.1;
  transition: 0.2s;
}

.login-div .inp-password {
  width: 450px;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  outline: none;
}

.login-div .login-p {
  color: white;
  margin-bottom: 10px;
}

.login-div .inp-password:focus {
  scale: 1.1;
  transition: 0.2s;
}

.login-div .button {
  width: 350px;
  height: 30px;
  background-color: #5b86e5;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
}

.login-div .button:hover {
  scale: 1.1;
  transition: 0.3s;
}

.login-div span {
  margin-top: 8px;
  color: white;
  font-size: 1rem;
}

.login-div span a {
  color: #0051ff;
  text-decoration: none;
}

/* #endregion */

/* #region signup style  */
.signup-page form {
  background-color: rgb(165, 164, 164);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 700px;
  height: 750px;
  margin: 50px auto;
  border-radius: 20px;
}

.signup-page h2 {
  margin-bottom: 30px;
  font-size: 2.5rem;
  color: white;
}

.signup-page .signup-a {
  display: flex;
  width: 400px;
  height: 30px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.signup-page .google-a {
  justify-content: center;
  display: flex;
  background-color: white;
  width: 170px;
  height: 30px;
  align-items: center;
  border-radius: 10px;
  height: 40px;
  font-size: 0.9rem;
}

.signup-page .google-a:hover {
  scale: 1.1;
  transition: 0.5s;
  border: 1px solid red;
}

.signup-page .google-a a:hover {
  color: red;
  transition: 0.5s;
}

.signup-page .facebook-a {
  justify-content: center;
  display: flex;
  background-color: white;
  width: 170px;
  height: 30px;
  align-items: center;
  border-radius: 10px;
  height: 40px;
  font-size: 0.9rem;
}

.signup-page .facebook-a:hover {
  scale: 1.1;
  transition: 0.5s;
  border: blue solid 1px;
}

.signup-page .facebook-a a:hover {
  color: blue;
  transition: 0.5s;
}

.signup-page .signup-a a {
  color: black;
  text-decoration: none;
}

.signup-page .or-span {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 10px;
}

.input-hover:focus {
  scale: 1.1;
  transition: 0.2s;
}

.signup-page .name-inp {
  width: 320px;
  height: 30px;
  border-radius: 7px;
  border: none;
  outline: none;
  margin-bottom: 10px;
}

.signup-page .email-inp {
  width: 320px;
  height: 30px;
  border-radius: 7px;
  border: none;
  outline: none;
  margin-bottom: 10px;
}

.signup-page .number-inp {
  width: 320px;
  height: 30px;
  border-radius: 7px;
  border: none;
  outline: none;
  margin-bottom: 10px;
}

.signup-page .password-inp {
  width: 320px;
  height: 30px;
  border-radius: 7px;
  border: none;
  outline: none;
  margin-bottom: 10px;
}

.signup-page .submit-inp {
  width: 250px;
  height: 30px;
  border-radius: 7px;
  border: none;
  margin-bottom: 5px;
  background-color: #5b86e5;
  color: white;
  cursor: pointer;
  font-size: 1.05rem;
}

.signup-page .submit-inp:hover {
  scale: 1.1;
  transition: 0.3s;
}

.signup-page .already-span {
  color: white;
}

.signup-page .already-span a {
  color: #1555dd;
  text-decoration: none;
}

/* #endregion */

/* #region 404 page */

.page-404-body {
  margin: 0;
  padding: 0;
  background-color: black;
}

.page-404 {
  width: 100%;
  height: 100vh;
  background-image: url(./images/F4ztSGV.gif);
  background-size: cover;
}

.page-404 h1 {
  color: white;
  text-align: center;
  font-size: 7rem;
  padding-top: 12%;
}

.page-404 p {
  color: white;
  text-align: center;
  font-size: 3rem;
}

.page-404 span {
  display: block;
  color: white;
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 15px;
}

.page-404 button {
  display: block;
  margin: 0 auto;
  padding: 20px;
  border-radius: 20px;
  background-color: black;
  border: rgb(89, 89, 255) 1px solid;
  width: 200px;
}

.page-404 a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
}

.page-404 button:hover {
  scale: 1.1;
  transition: 0.5s;
}

/* #endregion */

/* #region footer style  */

footer {
  bottom: 0;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}
footer .footer-df {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: auto;
}

footer .first-div {
  background-color: #15241d;
  margin-left: 30px;
  width: 50%;
  height: 368px;
  border-radius: 20px;
  padding: 60px;
  display: flex;
  align-items: center;
  padding-bottom: 250px;
}

footer .first-div svg path {
  fill: white;
}

footer .first-div a {
  color: white;
  text-decoration: none;
  font-size: 3.125rem;
  margin-left: 25px;
}

footer .second-div {
  background-color: #15241d;
  margin-right: 30px;
  width: 50%;
  border-radius: 20px;
  padding: 60px;
  padding-top: 120px;
  height: 368px;
}

footer .svg-div {
  display: flex;
}

footer .svg-div svg {
  width: 50px;
  margin-bottom: 20px;
}

footer .svg-div ul {
  display: flex;
  list-style: none;
  border-bottom: 1px solid white;
  width: 400px;
}

footer .number-span {
  display: block;
  width: 314px;
  color: white;
  font-size: 1.25rem;
  margin-top: 20px;
  line-height: 30px;
}

footer .footer-second-div a {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 1.25rem;
  width: 314px;
  line-height: 30px;
}

footer .adress-span {
  color: white;
  display: block;
  font-size: 1.25rem;
  width: 250px;
  line-height: 30px;
}

footer .third-div .footer-links {
  display: flex;
  flex-direction: column;
}

footer .third-div {
  background-color: #15241d;
  height: 159px;
  margin: 30px;
  margin-top: 20px;
  border-radius: 20px;
  padding: 60px;
  display: flex;
  justify-content: space-between;
}

footer .third-div .footer-links a {
  color: white;
  text-decoration: none;
  font-size: 1.25rem;
}

footer .third-div .copyright-span {
  margin-top: 10px;
  color: white;
}

footer .third-div .copyright-span a {
  color: white;
}

/* #endregion */

@media (max-width: 1060px) {
  footer .second-div {
    width: 51%;
  }
}

@media (max-width: 1024px) {
  .header-title svg {
    width: 37%;
  }

  header .header-title h2 a {
    font-size: 1.5rem;
  }
  header .nav-div ul {
    gap: 13px;
  }

  header .nav-div ul li a {
    font-size: 0.8rem;
  }

  .hero-second-div h1 {
    font-size: 3.3rem;
  }

  .hero-second-div p {
    width: 230px;
    font-size: 1rem;
  }

  .hero-second-div a {
    width: 140px;
    padding: 10px;
    font-size: 0.9rem;
  }

  .vision-div {
    width: 72.4%;
  }

  .vision-text .vision-h2 {
    font-size: 1.7rem;
  }

  .vision-text .vision-p {
    width: 440px;
    font-size: 1rem;
  }

  .learn-more-div a {
    width: 180px;
    padding: 7px;
    font-size: 0.7rem;
  }

  .rotate-svg {
    width: 20%;
  }

  footer .first-div a {
    font-size: 1rem;
  }

  footer .number-span {
    font-size: 1rem;
    width: auto;
  }

  footer .footer-second-div a {
    font-size: 1.1rem;
    width: auto;
  }

  footer .adress-span {
    font-size: 1.1rem;
  }
}

@media (max-width: 768px) {
  /* #region burger menu for laptop */
  header nav {
    display: flex;
    justify-content: space-between;
  }

  header .nav-div ul {
    display: none;
  }

  .burger-label {
    width: 2.25rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 35%;
    right: 8%;
    z-index: 100;
    overflow: hidden;
  }
  .burger-label span {
    width: 90%;
    height: 3px;
    border-radius: 3px;
    background-color: white;
    transition: all 0.3s;
  }

  .mobile-nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    background-color: #15241d;
    border-radius: 15px;
    padding: 20px;
    position: absolute;
    top: 70%;
    right: 0;
    width: 100%;
    height: 250px;
  }

  .mobile-nav ul li {
    margin: 0 auto;
    padding: 7px;
  }

  .mobile-nav ul li a {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }

  .mobile-nav ul li a:hover {
    color: rgb(181, 255, 220);
    transition: 0.4s;
  }

  #burger-menu:checked ~ .burger-label .line-1 {
    transform: rotate(45deg) translate(10px, 10px);
    background-color: red;
  }

  #burger-menu:checked ~ .burger-label .line-2 {
    transform: translateX(-100%);
    opacity: 0;
  }

  #burger-menu:checked ~ .burger-label .line-3 {
    transform: rotate(-45deg) translate(10px, -10px);
    background-color: red;
  }

  /* #endregion */

  .hero-sec .hero-img img {
    height: 500px;
  }
  .hero-sec {
    flex-direction: column;
    align-items: center;
  }

  .hero-sec .hero-df {
    width: 100%;
    align-items: center;
  }

  .hero-img {
    width: 80%;
    margin-bottom: 30px;
  }

  .hero-second-div {
    width: 80%;
    height: auto;
  }

  .hero-second-img {
    width: 80%;
    height: auto;
  }

  .aboutus-sec {
    height: auto;
  }

  .about-df {
    flex-direction: column;
    align-items: center;
  }

  .vision-text {
    padding-top: 110px;
    width: 250px;
  }

  .vision-text .vision-p {
    width: 250px;
  }

  .our-mission-div .mission-text {
    width: 280px;
    font-size: 0.9rem;
  }

  .our-mission-div .mission-h2 {
    font-size: 1.5rem;
    width: 200px;
  }

  .vision-div,
  .learn-more-div {
    width: 100%;
    margin: 30px 0;
    padding-bottom: 15px;
  }
  .learn-more-div a {
    width: 180px;
    padding: 15px;
    font-size: 1rem;
  }

  footer .footer-df {
    flex-direction: column;
    align-items: center;
  }

  footer .first-div,
  footer .second-div {
    width: 93%;
    margin: 10px 0;
  }

  footer .first-div a {
    font-size: 2rem;
  }

  footer .third-div {
    flex-direction: column;
    align-items: center;
    height: 300px;
    justify-content: center;
  }
}

@media (max-width: 428px) {
  header {
    width: 100%;
    margin: 10px 0;
  }

  header nav {
    display: flex;
    justify-content: space-between;
  }

  header .nav-div ul {
    display: none;
  }

  .burger-label {
    width: 2.25rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: static;
    margin-right: 30px;
    top: 6%;
    right: 8%;
    z-index: 100;
    overflow: hidden;
  }

  #burger-menu:checked ~ .burger-label {
    position: fixed;
    margin-right: 2px;
  }

  .burger-label span {
    width: 90%;
    height: 3px;
    border-radius: 3px;
    background-color: white;
    transition: all 0.3s;
  }

  .mobile-nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    background-color: rgb(181, 255, 220);
    padding: 20px;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 99;
    border-radius: 0px;
  }

  .mobile-nav ul li {
    margin-top: 50px;
    margin: 10px auto;
    border-bottom: solid #15241d 0.1px;
    width: 200px;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
    padding: 20px 0;
  }

  .mobile-nav ul li a {
    color: #15241d;
    text-decoration: none;
    cursor: pointer;
  }

  .mobile-nav ul li a:hover {
    color: rgb(181, 255, 220);
    transition: 0.4s;
  }

  #burger-menu:checked ~ .burger-label .line-1 {
    transform: rotate(45deg) translate(10px, 10px);
    background-color: #15241d;
  }

  #burger-menu:checked ~ .burger-label .line-2 {
    transform: translateX(-100%);
    opacity: 0;
  }

  #burger-menu:checked ~ .burger-label .line-3 {
    transform: rotate(-45deg) translate(10px, -10px);
    background-color: #15241d;
  }

  .hero-sec {
    width: 100%;
    margin: 0px;
  }

  .hero-img {
    width: 100%;
  }
  .hero-second-div {
    width: 100%;
  }

  .hero-second-img {
    width: 100%;
  }

  .aboutus-sec {
    width: 100%;
    margin: 0;
  }

  .about-title-div .abou-title {
    font-size: 1.3rem;
  }

  .about-title-div .abou-title-p {
    font-size: 2.3rem;
  }

  .our-mission-div .mission-text {
    padding-top: 0;
    font-size: 1rem;
  }

  .vision-text {
    padding-top: 0;
  }

  .vision-text .vision-p {
    font-size: 1.2rem;
  }

  .learn-more-div {
    height: 300px;
    display: inline-block;
  }

  .learn-more-div a {
    width: 150px;
    padding: 10px;
    font-size: 1rem;
    padding: 20px;
  }

  footer .first-div {
    width: 100%;
    height: 200px;
  }

  footer .second-div {
    width: 100%;
    height: 350px;
  }

  footer .third-div {
    width: 100%;
    margin: 0;
  }
}
